# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Environment variables containing credentials
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Docker volumes data
/data/
/db-data/

# Node modules
node_modules/

# Production environment files
.env.production 